.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.list-option {
    display: flex;
    gap: 16px;
}

.list-option p:first-child {
    font-size: 16px;
    color: var(--theme-fg);
}

.list-option p:last-child {
    font-size: 16px;
    color: var(--theme-fg-64);
    font-weight: 400;
}